header {
  display: flex;
  margin: 0 15%;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;

  div.type {
    font-size: 4vw;
    div.head {
      h1 {
        margin: 0;
        margin-bottom: 20px;
        color: #ca7d5c;
        text-align: left;
        font-weight: bolder;
        font-size: 1em;
        letter-spacing: 0.1em;

        span {
          color: #e8d98c;
        }
      }
    }
    p {
      font-size: 0.3em;
      text-align: left;
      letter-spacing: 0.1em;
      font-weight: 100;
      margin: 0;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .button {
      font-size: 0.3em;
      position: relative;
      appearance: none;
      display: inline-block;
      border-radius: 8px;
      padding: 10px;
      margin-top: 20px;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      background-color: #e29c7d;
      animation: button-spawn 2s ease;
      transition: 0.1s;

      span {
        position: relative;
        pointer-events: none;
        color: #1f1f1f;
      }

      &::before {
        --size: 0;
        content: "";
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(
          circle closest-side,
          #ffffff4b,
          transparent
        );
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
      }

      &:hover {
        transform: scale(1.02);
      }

      &:hover::before {
        --size: 400px;
      }
    }
  }

  div.hero {
    position: relative;
    display: inline-block;
    width: 35%;
    animation: hero-spawn 2s ease;
  }

  div.hero svg {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

// Other screen sizes

@media screen and (max-width: 850px) {
  header {
    flex-direction: column-reverse;
    margin-top: 30px;
    div.type {
      font-size: 7vw;

      p {
        font-size: 0.4em;
      }
      .button {
        font-size: 0.4em;
      }
    }

    div.hero {
      width: 80%;
      margin-bottom: 30px;
    }
  }
}

// Animations

@keyframes hero-spawn {
  from {
    top: -30px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes button-spawn {
  0% {
    left: -20px;
    opacity: 0;
  }
  50% {
    left: -20px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
