table {
  border-spacing: 20px;
  margin: 0 auto;
}
th,
td {
  width: 200px;
  overflow: hidden;
}

h2.title {
  text-align: center;
  margin-top: 40px;
}
h3.stack {
  text-align: center;
  margin-top: 10px;
}
h3.date {
  text-align: center;
  font-size: 16px;
  margin-top: 0.7em;
  font-weight: normal;
}
.html {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.html h3 {
  font-size: 26px;
  margin-top: 1em;
  font-weight: bold;
}
.html p {
  margin: 0;
  margin-top: 1em;
  font-size: 16px;
  text-align: left;
}

div.slide {
  max-width: 350px;
  min-width: 230px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}
div.image {
  text-align: center;
}
div.image:focus {
  outline: none;
}

/* Different screen sizes */
@media screen and (max-width: 850px) {
  .html p {
    font-size: 14px;
  }
}
