.slick-track {
  display: flex;
}
.slider-track:active {
  outline: none;
}

ul.slick-dots {
  position: absolute;
  bottom: -45px;
  width: 100%;
  left: 0;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li.slick-active button:before {
  color: white;
}

.slick-slide {
}

.dots {
  position: absolute;
  bottom: -45px;
  width: 100%;
  left: 0;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
}

.dots li {
  list-style: circle;
  color: red;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: rgba(255, 255, 255, 0.308);
  -webkit-font-smoothing: antialiased;
}

.dots li.slick-active button::before {
  opacity: 1;
  color: #e29c7d;
}

.dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

button.slick-arrow.slick-next::before {
  color: #e29c7d;
}
button.slick-arrow.slick-prev::before {
  color: #e29c7d;
}
